pytest
coverage[toml]
pytest-cov
black
flake8
flake8-bandit
flake8-black
flake8-bugbear
flake8-import-order
safety
mypy
typeguard
flake8-annotations
flake8-docstrings
darglint
xdoctest
Sphinx
isort
codecov
sphinx-copybutton
pydata-sphinx-theme
